* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-template-areas: 
      "a1 a2 a3 a4 a5 a b b1 b2 b3 b4 b5 b6";
    align-items: start;
  }
  .wrapper a {
    text-decoration: none;
    color: white;
  }
  .wrapper a:hover {
    opacity: 0.5;
  }
  .item1 {
    grid-area: a1;
  }
  .item2 {
    grid-area: a2;
  }
  .item3 {
    grid-area: a3;
  }
  .item4 {
    grid-area: b3;
  }
  .item5 {
    grid-area: b4;
  }
  .item6 {
    grid-area: b5;
  }
  .item7 {
    grid-area: b6;
  }
  @media only screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-areas: 
          "a b c"
          "d e f";
        align-items: start;
      }
      .item1 {
        grid-area: a;
      }
      .item2 {
        grid-area: b;
      }
      .item3 {
        grid-area: c;
      }
      .item4 {
        grid-area: d;
      }
      .item5 {
        grid-area: e;
      }
      .item6 {
        grid-area: f;
      }
  }

/*===========================================ĐỊNH DẠNG HEADER=========================================*/
.header{
    background-color: #272e79;
}
/* .header .logo img {
    width: 100px;
    height: 100px;
} */
/*===================================ĐỊNH DẠNG SEARCH========================================*/
.search-container input[type=text]  {
    margin: 15px 0px;
    font-size: 20px;
}
.search-container button {
    margin: 15px 0px;
    font-size: 15px;
}
.cart {
    margin-left: 50px;

}
.fa-shopping-cart {
    color: white;
    margin: 13px 0px;
}
.fa-shopping-cart:hover {
    opacity: 0.5;
}
.fa-shopping-cart {
    font-size: 38px;
}
.row-fix, .row-fix > .column {
    padding: 0px;
}
.row-fix {
   margin: 0px;
}
a {
   font-size: 14px;
}
/*===================================ĐỊNH DẠNG SEARCH========================================*/
/*========================= ĐỊnh dạng giỏ hàng ===================================*/ 
.button-badge {
   text-decoration: none;
   padding: 1rem 1.5rem;
   position: relative;
   border-radius: .2rem;
   transition: all ease 0.4s;
}
.badge {
   position: absolute;
   top: -11px;
   right: -55px;
   font-size: 1.2em;
   background-color: white;
}
.header .logo img {
    width: 100px;
    height: 100px;
}
/*========================= ĐỊnh dạng giỏ hàng ===================================*/ 

.vertical-menu {
    width: 100%; 
}

.vertical-menu a {
    background-color: #eee; 
    color: black; 
    display: block;
    padding: 12px; 
    text-decoration: none; 

}
.vertical-menu a:hover {
    background-color: #ccc; 
}

.vertical-menu a.active {
    background-color: #4CAF50; 
    color: white;
}

.vertical-menu a:hover {
    color: red;
}
.slider-img {
    width: auto;
    height: auto;
}

/* ======================================HIỂN THỊ SẢN PHẨM =================*/
.box:hover {
    box-shadow: 0 0 10px 0 hsla(0,0%,60%,.6); 
  }
  .box a {
      text-decoration: none;
      text-align: center;
  }

  .me-btn {
    text-decoration: none;
    display: block;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}
.me-btn {
    margin-top: 25px;
}
.me-btn:hover {
    opacity: 0.7;
}
.line {
    height: 3px;
    widows: 100%;
    background-color: red;
}
.footer a {
    text-decoration: none;
    color: black;
}
.footer a:hover {
    opacity: 0.5;
}
/*=================================== DINH DANG TAB ==========================*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablinks {
    width: 50%;
}
/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent input {
    border: none;
    border-bottom: 1px solid red;
}
 .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 3;
}  
